<h1>Profile Page</h1>

<div class="d-grid gap-2 d-md-block">
  <form>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Song Title</span>
      <input id="song-title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Artist</span>
      <input id="song-artist" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Song Link</span>
      <input id="song-link" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <button class="btn btn-primary createSong" type="button">Create a New Song</button>
  </form>
</div>

{{!-- insert song html code here --}}
{{#each songs as |song|}}
<div>
  <iframe width="560" height="315" src={{songLink}} title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <button class="btn btn-dark deleteSong" data-id="{{id}}" type="button">Delete Song</button>
</div>
{{#each Comments as |comment|}}
<div class="comment-div">
  <h3 class="comment-title">{{comment.author}}</h3>
  <p class="comment-content">{{comment.content}}</p>
</div>
{{/each}}
<div class="d-grid gap-2 d-md-block">
  <form>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Enter Comment</span>
      <input id="comment-content" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <button class="btn btn-primary newComment" data-id="{{id}}" type="button">New Comment</button>
  </form>
</div>
{{/each}}
<script src="/js/song.js"></script>